doctype html
html
  head
    title Tic Tac Total!
    link(href='/css/app.min.css' type='text/css' rel='stylesheet')
    script(src='/js/tictactotal.rb.js')
  body
    #container
      h1 Tic Tac Total!

      #board
        ol
          li
          li
          li

          li
          li
          li

          li
          li
          li

      #messages

    footer
      p TicTacTotal by andrewdotnich.
