doctype html
html
  head
    title Tic Tac Total!
    link(href='/css/app.min.css' type='text/css' rel='stylesheet')
    script(src='/js/tictactotal.rb.js')
  body
    #container
      h1 Tic Tac Total!

      mixin square(player)
        .square(class!=player)
          .content
            .table
              .table-cell

      .board-row
        .board-cols
          #board
            +square('x') X
            +square('empty')
            +square('empty')

            +square('empty')
            +square('o') O
            +square('empty')

            +square('empty')
            +square('empty')
            +square('empty')

      #messages

      footer
        p TicTacTotal by andrewdotnich.
